*{  /*Youtube dekhe shikheci nahole header part ta upor theke margin hocce*/
    margin:0; 
    padding:0;
}

section{
    margin-bottom:100px;
}
h1,h2{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 45px;
}
h3{
    font-size: 24px;
    color: #121212;
    margin-top: 15px
}
b{
    font-size: 30px;
    color:#707070;
}
p{
    font-family: 'Poppins', sans-serif;;
    font-weight: 400;
    font-size: 18px;
    margin:28px 0;
    color:#707070;
}
.flexItem{
    display:flex;
    justify-content: center;
    align-items: center;
}
.header-area{
    background-image: linear-gradient(to bottom left, transparent, black), url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    min-height:100vh;
}
.header-content{
    text-align: center;
    color: white;
    padding: 125px 0px
}
.header-content p{
    color:white;
}
.headerHeading{
    font-size: 65px;
}
.link{
    text-decoration: none;
    font-size: 20px;
    background: #FF5959;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Inter', sans-serif;
}

.donation-elements{
    width: 70%;
    text-align: center;
}
.donatePara{
    padding: 0 125px;
}
.donation-amount{
    display: flex;
    justify-content: space-around;
    padding: 10px 65px;
}
.amount{
    width: 140px;
    height: 140px;
    background: #FAFAFA;
    border-radius: 5px;
}
#active-amount{
    border: 1px solid #ff5959;
    background: #ffeeee;
}
#active-amount b{
    color:#ff5959;
}
.input-tk{
    width: 90%;
    padding: 20px 0;
    border: none;
    border-bottom: 1px solid #dadada;
    text-align: center;
    color:#b3b3b3;
    outline: none;
    margin-bottom:30px;
}
.donate-plan-elements{
    width: 80%;
    text-align: center;
}
.donation-plan-part{
    display: flex;
    justify-content: space-around;
}
.part{
    width: 25%;
    background: #EDF5F6;
    text-align: left;
    padding: 65px 25px;
    border-radius: 5px;
}
#shelter-family{
    background: #ffeeee;
}
#children-education{
    background-color: #fff4d6;
}
.width-area{
    width: 80%;
}
.halfArea{
    width: 50%;
    padding: 40px 20px;
}
.halfArea-head{
    padding-top: 40px;
}
.helpImg{
    width:100%;
    height:100%;
    border-radius: 5px;
}

.help-area{
    background-color: #f0f0f0; 
}
.how-help-elements img{
    width: 140px;
}
.newsletter{
    width: 56%;
    text-align: center;
}
.newsletter form{
    background-color: #fff4d6;
    padding: 70px;
}
.newsletter form input{
    width: 50%;
    display: inline-block;
    padding: 16px;
    border: none;
    background-color: #d9d9d9;
    outline: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
}
.newsletter form button{
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 16px;
}

footer{
    background-color: #0b0d17;
    text-align: center;
    padding: 75px 0;
}
footer h2{
    font-size: 36px;
    color: #ff5959;
    margin: 15px 0;
    font-family: cursive;
}
footer small{
    font-size: 14px;
    color:#d9dbe1;
}
